body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	background-color: red;
	padding: 20px;
}

#img {
	width: min-content;
	height: min-content;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: lightgrey;
	box-shadow: 0px 0px 8px 8px lightgray;
}

#img img {
	outline-style: solid;
	outline-width: 1px;
}

#img p {
	text-align: center;
	margin: 3px;
	font-size: small;
}

hr {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

blockquote {
	outline-style: dashed;
	outline-width: 1px;
	outline-color: rgb(154,154,154);
	background-color: rgb(244,244,244);
	width: fit-content;
	height: min-content;
	padding: 1px 10px;
}