body{
    background-color: #dddddd;
    font-family: Tahoma;
    letter-spacing: 0px;
    word-spacing: 0px;
}
#panel{
    padding-left: 50%;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-align: center;

    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
#top{
    background-color: #663399;
    height: 70px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
}
#obiekty{
    border: 4px outset rgb(107, 107, 255);
    background-color: rgb(199, 199, 199);
    position: fixed;
    top: 69px;
    width: 150px;
    text-align: center;
    margin-left: -8px;
    font-size: 20px;
}
.link{
    color: black;
}