.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.919922;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.919922;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.213379;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.056000px;}
._2{width:2.672000px;}
._1{width:3.984000px;}
._4{width:6.288000px;}
._3{width:7.488000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y1{bottom:0.000000px;}
.y1f{bottom:290.900000px;}
.y1e{bottom:304.700000px;}
.y1d{bottom:346.100000px;}
.y1c{bottom:359.900000px;}
.y1b{bottom:373.700000px;}
.y1a{bottom:387.500000px;}
.y19{bottom:401.300000px;}
.y18{bottom:415.100000px;}
.y17{bottom:428.900000px;}
.y16{bottom:442.700000px;}
.y15{bottom:470.300000px;}
.y14{bottom:484.100000px;}
.y13{bottom:497.900000px;}
.y0{bottom:517.500000px;}
.y12{bottom:525.500000px;}
.y11{bottom:539.300000px;}
.y10{bottom:553.100000px;}
.yf{bottom:580.700000px;}
.ye{bottom:594.500000px;}
.yd{bottom:608.300000px;}
.yc{bottom:622.100000px;}
.yb{bottom:635.900000px;}
.ya{bottom:649.700000px;}
.y9{bottom:677.300000px;}
.y8{bottom:691.100000px;}
.y7{bottom:704.900000px;}
.y6{bottom:718.700000px;}
.y5{bottom:732.500000px;}
.y4{bottom:746.300000px;}
.y3{bottom:760.100000px;}
.y2{bottom:773.900000px;}
.h3{height:33.796875px;}
.h4{height:43.687500px;}
.h1{height:149.000000px;}
.h2{height:841.800000px;}
.h0{height:841.861417px;}
.w1{width:151.500000px;}
.w2{width:595.200000px;}
.w0{width:595.275591px;}
.x1{left:0.000000px;}
.x2{left:56.800000px;}
.x3{left:342.000000px;}
.x4{left:397.000000px;}
.x0{left:410.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.408000pt;}
._2{width:3.562667pt;}
._1{width:5.312000pt;}
._4{width:8.384000pt;}
._3{width:9.984000pt;}
.fs0{font-size:64.000000pt;}
.y1{bottom:0.000000pt;}
.y1f{bottom:387.866667pt;}
.y1e{bottom:406.266667pt;}
.y1d{bottom:461.466667pt;}
.y1c{bottom:479.866667pt;}
.y1b{bottom:498.266667pt;}
.y1a{bottom:516.666667pt;}
.y19{bottom:535.066667pt;}
.y18{bottom:553.466667pt;}
.y17{bottom:571.866667pt;}
.y16{bottom:590.266667pt;}
.y15{bottom:627.066667pt;}
.y14{bottom:645.466667pt;}
.y13{bottom:663.866667pt;}
.y0{bottom:690.000000pt;}
.y12{bottom:700.666667pt;}
.y11{bottom:719.066667pt;}
.y10{bottom:737.466667pt;}
.yf{bottom:774.266667pt;}
.ye{bottom:792.666667pt;}
.yd{bottom:811.066667pt;}
.yc{bottom:829.466667pt;}
.yb{bottom:847.866667pt;}
.ya{bottom:866.266667pt;}
.y9{bottom:903.066667pt;}
.y8{bottom:921.466667pt;}
.y7{bottom:939.866667pt;}
.y6{bottom:958.266667pt;}
.y5{bottom:976.666667pt;}
.y4{bottom:995.066667pt;}
.y3{bottom:1013.466667pt;}
.y2{bottom:1031.866667pt;}
.h3{height:45.062500pt;}
.h4{height:58.250000pt;}
.h1{height:198.666667pt;}
.h2{height:1122.400000pt;}
.h0{height:1122.481890pt;}
.w1{width:202.000000pt;}
.w2{width:793.600000pt;}
.w0{width:793.700787pt;}
.x1{left:0.000000pt;}
.x2{left:75.733333pt;}
.x3{left:456.000000pt;}
.x4{left:529.333333pt;}
.x0{left:546.666667pt;}
}
